name: Test Helsinki Bike UI
on:
  push:
    branches:
      - main

jobs:
  tests:
    name: Tests workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.0'
          channel: 'stable'
      - name: Create .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env
      - run: flutter pub get
      - run: flutter test
